@font-face {
  font-family: "Frutiger LT Arabic 45";
  src: url("./../fonts/FrutigerLTArabic/FrutigerLTArabic-65Bold.woff2")
      format("woff2"),
    url("./../fonts/FrutigerLTArabic/FrutigerLTArabic-65Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Frutiger LT Arabic 45";
  src: url("./../fonts/FrutigerLTArabic/FrutigerLTArabic-45Light.woff2")
      format("woff2"),
    url("./../fonts/FrutigerLTArabic/FrutigerLTArabic-45Light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Frutiger LT Arabic 55 Roman";
  src: url("./../fonts/FrutigerLTArabic/FrutigerLTArabic-55Roman.woff2")
      format("woff2"),
    url("./../fonts/FrutigerLTArabic/FrutigerLTArabic-55Roman.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Frutiger LT Arabic 55 Roman";
  src: url("./../fonts/FrutigerLTArabic/FrutigerLTArabic-75Black.woff2")
      format("woff2"),
    url("./../fonts/FrutigerLTArabic/FrutigerLTArabic-75Black.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* // Flags */
.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon.flag-icon-squared {
  width: 1em;
}
.flag-icon-sa {
  background-image: url(../flags/4x3/sa.svg);
}
.flag-icon-us {
  background-image: url(../flags/4x3/us.svg);
}
.flag-icon-de {
  background-image: url(../flags/4x3/de.svg);
}
.flag-icon-sa {
  background-image: url(../flags/4x3/sa.svg);
}
.flag-icon-fr {
  background-image: url(../flags/4x3/fr.svg);
}
.flag-icon-es {
  background-image: url(../flags/4x3/es.svg);
}
.flag-icon-ru {
  background-image: url(../flags/4x3/ru.svg);
}
.flag-icon-cn {
  background-image: url(../flags/4x3/cn.svg);
}
.flag-icon-it {
  background-image: url(../flags/4x3/it.svg);
}
.flag-icon-tr {
  background-image: url(../flags/4x3/tr.svg);
}
.flag-icon-jp {
  background-image: url(../flags/4x3/jp.svg);
}
.flag-icon-pl {
  background-image: url(../flags/4x3/pl.svg);
}
.flag-icon-nl {
  background-image: url(../flags/4x3/nl.svg);
}
.flag-icon-se {
  background-image: url(../flags/4x3/se.svg);
}
.flag-icon-in {
  background-image: url(../flags/4x3/in.svg);
}

.Frutiger-45-bold {
  /* font-family: 'Frutiger LT Arabic 45'; */
  font-weight: bold;
}

.Frutiger-45-normal {
  font-family: "Frutiger LT Arabic 45";
  font-weight: 300;
}

body {
  font-family: "Frutiger LT Arabic 55 Roman";
  font-weight: normal;
  background: #fff;
  color: #333333;
  overflow-x: hidden;
  font-size: 18px;
}

p {
  /* font-size: 16px; */
  color: #333333;
}

a {
  outline: none;
  text-decoration: none;
  color: #1c989b;
  display: inline-block;
}

a:hover {
  color: #1c989b;
  text-decoration: none;
}

button:focus {
  outline: 0;
}

.btn {
  border: 0;
  padding: 15px 20px;
  line-height: 25px;
  border-radius: 0;
}

.btn-size-lg {
  min-width: 200px;
}

.btn:focus,
.btn:hover,
.btn:active:focus,
.btn.active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary,
.label-primary {
  background: #5ec9e2;
  font-weight: bold;
  font-size: 16px;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show
  > .btn-primary.dropdown-toggle:focus
  .btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle .btn-primary:hover,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  /* background: #10595b; */
  background: #5ec9e2;
  box-shadow: none;
}

/*.btn-secondary,
.label-secondary {
    background: #f3f3f4;
    color: #404040;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus .btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle .btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary.active,
.open>.dropdown-toggle.btn-secondary {
    background: #e9e9e9;
    box-shadow: none;
    color: #404040;
}*/

p.big {
  font-size: 25px;
}

.space-100 {
  height: 100px;
}

.space-15 {
  height: 15px;
}

.space-50 {
  height: 50px;
}

.space-25 {
  height: 25px;
}

.space-35 {
  height: 35px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-150 {
  padding-top: 150px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pt-230 {
  padding-top: 230px;
}

.section-title h2 {
  font-size: 45px;
  font-family: "Frutiger LT Arabic 45";
  font-weight: bold;
}

.section-title h3 {
  font-size: 25px;
}

.section-title a.more {
  border-radius: 50px;
  border: 2px solid #3796c1;
  padding: 5px 45px;
  color: #3796c1;
  transition: all ease 0.3s;
}

.section-title a.more:hover {
  background: #3796c1;
  color: #fff;
}

.back-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background: #1c989b;
  text-align: center;
  color: #fff;
  display: block;
  border-radius: 50%;
  line-height: 50px;
  display: none;
}

.back-to-top:hover {
  color: #fff;
}

.transition {
  transition: all 0.5s ease 0s;
}

.hidden {
  display: none;
}

textarea.form-control {
  height: auto;
}

.form-control {
  border: 0;
  border-radius: 0;
  padding: 15px 25px;
  height: 50px;
  color: #374354;
  /* border: 1px solid; */
  /* border-radius: 50px; */
  /* border-color: rgba(55, 67, 84, 0.3); */
}

.form-control::-webkit-input-placeholder {
  /* Edge */
  color: #dadee3;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dadee3;
}

.form-control::placeholder {
  color: #dadee3;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #1f96a9;
}

.main-btn {
  border-radius: 0;
  padding: 18px;
}

.form-group {
  margin-bottom: 30px;
}

/*//////////////////////////////////*/
.bg-img-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-overlay {
  position: relative;
  z-index: 1;
}

.bg-overlay:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(0, 0, 0, 0.40); */
  z-index: -1;
}

@media (max-width: 768px) {
  .section-title a.more {
    margin: 15px 0;
  }

  .section-title h2 {
    font-size: 35px;
  }

  .section-title h3 {
    font-size: 20px;
  }
}

/*------- End General --------*/

/*------- Start Header --------*/

/*
.divehood-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-radius: 0;
    border: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.divehood-header .img-logo {
    width: 160px;
}

.divehood-header .navbar-nav .active>.nav-link {
    color: #374354;
}

.divehood-header .navbar-nav .nav-link {
    color: #1F96A9;
    transition: all ease 0.3s;
}

.divehood-header .navbar-nav .nav-link:hover {
    color: #374354;
}

.divehood-header .dropdown-menu {
    padding: 0;
    background: #f8f9fa;
    border: 0;
    border-radius: 7px;
    transition: all ease 0.3s;
}

.divehood-header .dropdown-menu .dropdown-item {
    padding: 20px 10px 25px;
    background: #f8f9fa;
    color: #1F96A9;
    border-bottom: 1px solid #1F96A9;
    transition: all ease 0.3s;
}

.divehood-header .dropdown-menu .dropdown-item:hover {
    background: #1F96A9;
    color: #f8f9fa;
}

.divehood-header .dropdown-menu .dropdown-item:first-child {
    border-radius: 0;
}

.divehood-header .dropdown-menu .dropdown-item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom: none;
}

@media (min-width: 1025px) {
    .divehood-header .navbar-nav .nav-link {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1024px) and (min-width: 992px) {
    .divehood-header .navbar-nav .nav-link {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 992px) {
    .divehood-header .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transform: translateY(50px);
    }

    .divehood-header .dropdown-menu.show {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }
}*/
.divehood-header {
  padding: 20px 0;
  background: #1054ae;
}

.divehood-header--wrapper {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.divehood-header--right {
  flex: 0 0 200px;
  max-width: 200px;
}

.divehood-header--center {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 50px;
}

.divehood-header--left {
  flex: 0 0 200px;
  max-width: 200px;
}

.divehood-header--center ul {
  padding: 0;
  list-style: none;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.divehood-header--center ul li {
}

.divehood-header--center ul li a {
  color: #333333;
}

/*------- End Header --------*/

/*------- Start Home Search Hero --------*/
.home-search-hero {
  padding: 150px 0 180px;
}

.home-search-hero.bg-overlay:after {
  background: rgba(0, 0, 0, 0.35);
}

.home-search-hero h1 {
  color: #fff;
}

.home-search-hero h3 {
  color: #fff;
  font-weight: 100;
}

.home-search-hero .form-wrapper {
  display: flex;
  position: relative;
  z-index: 1;
  max-width: 800px;
  margin: 0 auto;
}

.home-search-hero .form-wrapper:before {
  position: absolute;
  content: "";
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  background: rgba(255, 255, 255, 0.3);
  z-index: -1;
  border-radius: 50px;
}

.home-search-hero .form-wrapper .form-group {
  margin: 0;
  position: relative;
}

.home-search-hero .form-wrapper .form-group .icon {
  position: absolute;
  right: 10px;
  top: 9px;
}

.home-search-hero .form-wrapper .form-group .arrow {
  position: absolute;
  left: 10px;
  top: 9px;
}

.home-search-hero .form-wrapper .form-group .form-control {
  padding-right: 40px;
  padding-left: 15px;
}

.home-search-hero .form-wrapper .form-group.with-line {
  border-right: 1px solid #ccc;
}

.home-search-hero .form-wrapper .form-group:first-child .form-control {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.home-search-hero .form-wrapper .form-group:first-child .form-control {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.home-search-hero .form-wrapper .form-group:last-child .btn {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.home-search-hero .form-wrapper .search_place {
  flex: 0 0 40%;
}

.place_dropdown {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all ease 0.3s;
  position: absolute;
  background: #fff;
  border-radius: 15px;
  padding: 15px 20px;
  width: 100%;
  text-align: left;
  top: calc(100% + 20px);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.place_dropdown:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 16px 16px 16px;
  border-color: transparent transparent #ffffff transparent;
  top: -16px;
  right: 60px;
}

.place_dropdown .location {
  font-size: 16px;
}

.place_dropdown a {
  color: #333333;
}

.place_dropdown ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  width: 49%;
}

.place_dropdown ul li a {
  font-size: 16px;
  line-height: 30px;
}

.home-search-hero .form-wrapper .search_place:hover .place_dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.home-search-hero .form-wrapper .select_cat {
  flex: 0 0 23%;
}

.home-search-hero .form-wrapper .select_date {
  flex: 0 0 23%;
}

.home-search-hero .form-wrapper .search_btn {
  flex: 0 0 14%;
}

.home-search-hero .form-wrapper .search_btn .btn {
  height: 50px;
}

@media (max-width: 768px) {
  .home-search-hero .form-wrapper {
    flex-wrap: wrap;
  }

  .home-search-hero .form-wrapper .search_place,
  .home-search-hero .form-wrapper .search_btn {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home-search-hero .form-wrapper .select_cat,
  .home-search-hero .form-wrapper .form-group.with-line {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .home-search-hero .form-wrapper .form-group {
    margin-bottom: 15px;
  }

  .home-search-hero .form-wrapper .search_btn {
    margin-bottom: 0;
  }

  .home-search-hero .form-wrapper:before {
    border-radius: 30px;
  }

  .home-search-hero .form-wrapper .form-group:first-child .form-control,
  .home-search-hero .form-wrapper .form-group:last-child .btn {
    border-radius: 50px;
  }

  .home-search-hero .form-wrapper .select_cat .form-control {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
  }

  .home-search-hero .form-wrapper .select_date .form-control {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
  }

  .home-search-hero .form-wrapper .select_cat.with-line {
    border: 0;
  }

  .home-search-hero {
    padding: 90px 0 110px;
  }
}

/*------- End Home Search Hero --------*/
/*------- Start Features --------*/
.features {
  padding: 50px 0;
}

.features--item h3 {
  font-size: 20px;
  margin: 0;
  padding: 10px 0 15px;
}

.features--item h6 {
  color: #676767;
  font-weight: 100;
}

@media (max-width: 992px) {
  .features--item {
    margin-bottom: 30px;
  }
}

/*------- End Features --------*/
/*------- Start Latest Safari --------*/
.latest-safari {
  padding: 50px 0;
}

.latest-safari--item {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 30px;
}

.latest-safari--item img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 335px;
  transition: all ease 0.3s;
}

.latest-safari--item:hover img {
  transform: scale(1.04);
}

.latest-safari--item--info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5802696078431373) 0%,
    rgba(3, 152, 175, 0) 50%
  );
  padding: 15px;
  color: #fff;
}

.latest-safari--item--info--top .duration {
  display: flex;
  align-items: center;
  line-height: 28px;
}

.latest-safari--item--info--top .like {
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 27px;
}

.latest-safari--item--info--top .like i {
  color: #dddddd;
  transition: all ease 0.3s;
}

.latest-safari--item--info--top .like:hover i,
.latest-safari--item--info--top .like.active i {
  color: #e13434;
}

.latest-safari--item--info--top .duration .num {
  font-size: 40px;
  margin-left: 5px;
}

.latest-safari--item--info--bottom h2 {
  color: #fff;
  font-size: 30px;
  font-family: "Frutiger LT Arabic 45";
  font-weight: bold;
}

.latest-safari--item--info--bottom {
  /* padding: 15px 20px; */
}

.latest-safari--item--info--bottom h3 {
  color: #fff;
  font-size: 22px;
}

.latest-safari--item--info--bottom .book-now {
  border-radius: 50px;
  border: 2px solid #fff;
  padding: 5px 35px;
  color: #fff;
  transition: all ease 0.3s;
  font-size: 16px;
}

.latest-safari--item--info--bottom .book-now:hover {
  background: #fff;
  color: #3796c1;
}

@media (max-width: 767px) {
  .latest-safari--item--info--bottom {
    text-align: center;
  }

  .latest-safari--item--info--bottom .book-now {
    margin-top: 0.5rem;
  }
}

/*------- End Latest Safari --------*/
/*------- Start downloadapp --------*/
.downloadapp {
  background: url("../img/bkg-download.jpg") no-repeat center/cover;
  margin-top: 120px;
  color: #fff;
  background-attachment: fixed;
}

.downloadapp h2 {
  font-size: 40px;
}

.downloadapp h5 {
  font-size: 21px;
}

.downloadapp .mobile {
  margin-top: -52px;
}
.downloadapp--link {
  transition: all ease 0.3s;
  border-radius: 10px;
}
.downloadapp--link:hover {
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
}
@media (max-width: 1199px) {
  .downloadapp {
    margin-top: 120px;
  }

  .downloadapp h2 {
    font-size: 30px;
  }

  .downloadapp h5 {
    font-size: 18px;
  }

  .downloadapp .mobile {
    margin-top: -30px;
  }
}

/*------- End downloadapp --------*/
/*------- Start Latest Travel --------*/

.latest-travel {
  padding: 100px 0 0;
}

.card-item {
  border-radius: 10px;
  overflow: hidden;
}

.card-item figure {
  margin: 0;
}

.card-item figure.discount-flag {
  position: relative;
}

.card-item figure.discount-flag span {
  position: absolute;
  left: 20px;
  font-size: 12px;
  color: #fff;
  width: 32px;
  height: 30px;
  box-sizing: content-box;
  padding-top: 15px;
  background: #e13434;
  text-align: center;
  user-select: none;
}

.card-item figure.discount-flag span:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 0;
  border-bottom: 6px solid #1a5eda00;
  border-left: 16px solid #e13434;
  border-right: 16px solid #e13434;
}

.card-item img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 150px;
}

.card-item--info {
  border: 1px solid #ccc;
  border-top: 5px solid #5ec9e2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-item--info--top {
  position: relative;
  padding: 30px 10px 15px;
  border-bottom: 1px solid #ccc;
}

.card-item--info--top .like {
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 27px;
  position: absolute;
  left: 10px;
  top: -25px;
}

.card-item--info--top .like i {
  color: #dddddd;
  transition: all ease 0.3s;
}

.card-item--info--top .like:hover i,
.card-item--info--top .like.active i {
  color: #e13434;
}

.card-item--info--top h3 {
  font-size: 18px;
}

.card-item--info--top ul {
  padding: 0;
  list-style: none;
  margin: 0;
  width: 100%;
}

.card-item--info--top ul li {
  font-size: 12px;
  color: #696969;
  display: flex;
  align-items: center;
  line-height: 25px;
}

.card-item--info--top ul li span {
  flex: 0 0 20px;
  height: 20px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}

.card-item--info--top ul li span.location-icon {
  background-image: url("../img/location_pin_blue.png");
}

.card-item--info--top ul li span.calendar-icon {
  background-image: url("../img/calendar_blue.png");
}

.card-item--info--top .duration {
  font-size: 16px;
  color: #696969;
}

.card-item--info--top .duration span {
  font-size: 50px;
  margin-left: 5px;
  color: #3796c1;
  display: block;
  line-height: 60px;
  font-family: "Frutiger LT Arabic 45";
  font-weight: bold;
  margin-bottom: -10px;
}

.card-item--info--center {
  font-size: 12px;
  text-align: center;
  color: #696969;
  padding: 10px 0;
  font-weight: bold;
  font-family: "Frutiger LT Arabic 45";
  font-weight: bold;
}

.card-item--info--center .provided span {
  color: #1d4488;
}

.card-item--info--bottom {
  padding: 15px;
  background: #f3f3f3;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-item--info--bottom .price {
  font-size: 18px;
  color: #3796c1;
  font-weight: bold;
  font-family: "Frutiger LT Arabic 45";
  margin-bottom: 15px;
}

.card-item--info--bottom .price span {
  margin: 0 5px;
}

.card-item--info--bottom .price .discount-price {
  color: #e13434;
  text-decoration-line: line-through;
  font-size: 16px;
}

.card-item--info--bottom .book-now ,.book-now-n {
  background: #1d4488;
  padding: 5px;
  font-size: 15px;
  display: block;
  font-weight: bold;
  color: #fff;
  border-radius: 50px;
  font-family: "Frutiger LT Arabic 45";
  text-align: center;
}

  .book-now-n:hover {
    background: #1d4488;

    color: #fff;
  }

@media (max-width: 992px) {
  .card-item {
    margin-bottom: 30px;
  }
}

/*------- End Latest Travel --------*/
/*------- Start Latest Courses --------*/
.latest-courses {
  padding: 75px 0 0;
}

/*------- End Latest Courses --------*/
/*------- Start Dive centers --------*/
.dive-centers {
  padding: 100px 0 50px;
}

.dive-centers--item {
  margin: 0 0 25px;
}

.dive-centers--item a {
  color: #333;
}

.dive-centers--item img {
  transition: all ease 0.3s;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

.dive-centers--item:hover img {
  transform: translateY(-10px);
}

.dive-centers--item h3 {
  font-size: 22px;
}

.dive-centers--item h5 {
  font-size: 14px;
  color: #696969;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dive-centers--item .location {
  flex: 0 0 20px;
  height: 20px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/location_pin_blue.png");
}

/*------- End Dive centers --------*/

/*------- Start Subscribe Newsletter --------*/
.subscribe-newsletter {
  padding: 30px 0;
  /* background: url('../img/pattern_gray.png') no-repeat center/cover; */
  background: url("../img/bg-sea.jpeg") no-repeat center/cover;
  border-bottom: 10px solid #fff;
}

.subscribe-newsletter h3 {
  font-size: 37px;
  margin: 0;
  color: #fff;
  font-family: "Frutiger LT Arabic 45";
  font-weight: bold;
  line-height: 50px;
}

.subscribe-newsletter h3 span {
  font-size: 34px;
  display: block;
  font-family: "Frutiger LT Arabic 55 Roman";
  font-weight: normal;
}

.subscribe-newsletter form .form-group {
  margin-bottom: 0;
  position: relative;
}

.subscribe-newsletter form .form-group .btn {
  position: absolute;
  background: #1d4488;
  color: #fff;
  top: 0;
  right: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  bottom: 0;
  top: 0;
  padding: 5px 25px;
}
.subscribe-newsletter form .form-group .btn:hover {
  background: #5ec9e2;
}
.subscribe-newsletter form .form-control {
  padding-right: 90px;
  border-radius: 50px;
  border-radius: 50px;
  height: 40px;
}

@media (max-width: 992px) {
  .subscribe-newsletter h3 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
  }

  .subscribe-newsletter h3 span {
    font-size: 25px;
  }
}

/*------- End Subscribe Newsletter --------*/

/*------- Start Footer --------*/
/* footer {
} */

.footer-top {
  background: #1054ae;
  padding: 50px 0 25px;
}

.footer--logo {
  width: 280px;
}

.footer--list {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.footer--list li {
  display: flex;
  color: #fff;
  font-weight: normal;
  align-items: center;
  line-height: 40px;
}

.footer--list.separated-list li {
  padding: 0 15px;
  position: relative;
}

.footer--list.separated-list li:after {
  position: absolute;
  content: "";
  border-left: 2px solid #fff;
  height: 20px;
  top: 14px;
  left: -1px;
}

.footer--list.separated-list li:last-child:after {
  display: none;
}

.footer--list li a {
  color: #fff;
  font-size: 14px;
}

.footer--list.social-list li {
  margin-left: 25px;
}

.footer--list.social-list li a {
  font-size: 20px;
}

/*----------*/
.footer--list li span {
  flex: 0 0 40px;
}

.footer--widget-title {
  color: #fff;
  font-size: 30px;
  margin: 0;
  padding: 13px 0 17px;
  font-weight: bold;
}

.footer-bottom {
  padding: 20px 0;
}

.footer--copyright {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: #333;
}

.footer--list.payment-logos li {
  margin-left: 15px;
}

.footer--list.payment-logos li:last-child {
  margin: 0;
}

@media (max-width: 767px) {
  .footer-bottom .footer--copyright {
    margin-bottom: 30px;
  }
}

/*------- End Footer --------*/
@media (max-width: 768px) {
  .downloadapp {
    margin-top: 0px;
  }

  .latest-travel,
  .latest-courses {
    padding: 50px 0 0;
  }

  .dive-centers {
    padding: 50px 0 50px;
  }
}

/* safari details */
.safari-details-breadcrumb .breadcrumb {
  background-color: #fff;
  padding-right: 0;
  line-height: 1.43em;
}

.safari-details-breadcrumb .breadcrumb a {
  color: #043d6a;
}

.safari-details-breadcrumb .breadcrumb li.active {
  color: #333;
  font-size: 1.34em;
}

.safari-details-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #bebebe;
  content: ">";
}

/* carousel */
.safari-main-details-carousel {
  border-bottom: 5px solid #5ec9e2;
}

.safari-details-carousel .carousel-inner {
  max-height: 470px;
}

.safari-details-carousel .carousel-control-next-icon,
.safari-details-carousel .carousel-control-prev-icon {
  background-image: url("./../img/chevron-left-solid.svg");
  background-color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-size: 11px;
  box-shadow: 0 2px 5px 0px #2f2f2f;
}
.safari-details-carousel .carousel-control-next-icon {
  background-image: url("./../img/chevron-right-solid.svg");
}
.safari-details-carousel .carousel-control-prev-icon {
  background-image: url("./../img/chevron-left-solid.svg");
}

.safari-details-carousel .carousel-control-next,
.safari-details-carousel .carousel-control-prev {
  opacity: 1;
}

.safari-details-carousel .fa-chevron-left,
.safari-details-carousel .fa-chevron-right {
  font-size: 0.9em;
  font-weight: 600;
  color: #143bab;
}

.safari-details-carousel .carousel-indicators li {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: rgba(236, 236, 236, 0.24);
  box-shadow: 0 2px 5px 0px #2f2f2f;
  border: 0;
}

.safari-details-carousel .carousel-indicators li.active {
  background-color: #5ec9e2;
}

/* specs */
.specs {
  padding: 50px 0 0;
}

.specs--item img {
  max-height: 50px;
}

.specs--item h6 {
  font-family: "Frutiger LT Arabic 55 Roman";
  font-size: 0.75em;
  color: #333;
  margin-top: 10px;
}

.specs--item h6 span {
  margin-top: 10px;
}

/* adv-section */
.adv-section {
  padding: 50px 0;
}

.adv-section .section-title h3 {
  color: #5b5b5b;
}

.adv-section p {
  font-family: "Frutiger LT Arabic 55 Roman";
  line-height: 1.9em;
}

.adv-list-wapper {
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 20px 10px;
}

.adv-list-wapper h3 {
  font-weight: 600;
}

.adv-list-wapper ul {
  list-style: none;
}

.adv-list-wapper ul li::before {
  content: "\2022";
  color: #143bab;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  font-size: 1.5em;
}

/* scheme */
#compound-scheme .carousel-indicators {
  bottom: -60px;
}
#compound-scheme .carousel-indicators li {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #ececec;
}
#compound-scheme .carousel-indicators li.active {
  background-color: #5ec9e2;
}

.border {
  border-color: #979797 !important;
}

.text-success {
  color: #409864 !important;
}

/* available-flights */
.available-flights {
  padding: 50px 0;
}

.available-flights .card-header {
  background-color: #043d6a;
  padding: 20px 0;
  font-size: 1.55em;
}

.available-flights .card-item--info--top ul li {
  justify-content: center;
}
.available-flights .card-item--info--top ul li.location {
  color: #333;
  font-weight: bold;
}
.available-flights .card-item--info--top .duration span {
  display: inline;
}
.available-flights .card-item--info--top .duration .num {
  font-size: 1.7em;
}
.available-flights .card-item--info--top .provided span {
  color: #1d4488;
  font-size: 14px;
}

.available-flights .pagination .page-link {
  border: none;
  background: none;
  color: #9b9b9b;
}

.available-flights .pagination .page-item a {
  line-height: 30px;
  padding: 8px 20px;
}

.available-flights .pagination .page-item.active a {
  color: #1d4488;
}

.available-flights .pagination .page-item.prev a,
.available-flights .pagination .page-item.next a {
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 30px;
  font-size: 27px;
  color: #143bab;
}

/* dive-center-breadcrumb */
.dive-center-breadcrumb .breadcrumb {
  background: none;
  border-bottom: 1px solid #e7e7e7;
  padding-right: 0;
  line-height: 1.43em;
  font-family: "Frutiger LT Arabic 45";
  font-weight: bold;
  color: #043d6a;
}
.dive-center-breadcrumb .breadcrumb a {
  color: #043d6a;
}

.dive-center-breadcrumb .breadcrumb li.active {
  color: #333;
  font-size: 1.34em;
}

.dive-center-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #bebebe;
  content: ">";
}

/* dive-center-images */
.dive-center-images .dive-center--item {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 30px;
}

.dive-center-images .dive-center--item img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 474px;
  transition: all ease 0.3s;
}

.dive-center-images .dive-center--item:hover img {
  transform: scale(1.04);
}

.dive-center-images .dive-center--item.half-height img {
  height: 223px;
}

.dive-center-about {
  padding: 50px 0 0;
}

.dive-center-about .like {
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 27px;
}

.dive-center-about .like:hover i,
.dive-center-about .like.active i {
  color: #e13434;
}
.dive-center-about .like i {
  color: #dddddd;
  transition: all ease 0.3s;
}

.contact {
  font-family: "Frutiger LT Arabic 45";
  font-size: 1.5em;
  font-weight: bold;
  color: #5b5b5b;
}

.contact h3 {
  color: #333;
  font-size: 1.5em;
  font-weight: bold;
  padding-right: 20px;
  border-right: 1px solid #d5d5d5;
}

.contact i {
  color: #9b9b9b;
}

.social-icons h3 {
  color: #333;
  font-size: 1.5em;
  font-weight: bold;
  padding-right: 60px;
  border-right: 1px solid #d5d5d5;
  margin-right: 30px;
}

.social-icons i {
  margin-left: 20px;
  color: #043d6a;
  font-size: 1.5em;
}

.social-icons i:hover {
  color: #9b9b9b;
}

@media (max-width: 767px) {
  .contact h3,
  .social-icons h3 {
    border-left: 0;
  }
  .social-icons {
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .contact {
    font-size: 1.3em;
  }
  .social-icons {
    margin-bottom: 30px;
  }
}

/* course-info */
.course-info .course-title {
  background-color: #1d4488;
  color: #fff;
  padding: 20px 0;
  font-family: "Frutiger LT Arabic 45";
  font-weight: bold;
}

.course-info .days-count span {
  font-size: 1.5em;
}

.course-info .course-title a {
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 27px;
}

.course-info .like:hover i,
.course-info .like.active i {
  color: #e13434;
}
.course-info .like i {
  color: #dddddd;
  transition: all ease 0.3s;
}

.course-details i {
  color: #3796c1;
  margin-right: 10px;
  font-size: 2em;
}

.course-details h6 {
  font-family: "Frutiger LT Arabic 45";
  font-weight: bold;
  font-size: 18px;
  color: #5b5b5b;
  padding: 20px 0;
}
.course-info .item img {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .course-info .item {
    justify-content: right !important;
  }
}

.about-course {
  padding: 50px 0;
}
.about-course h2 {
  font-size: 2em;
}

.center-info {
  font-weight: bold;
  color: #333;
}
.center-info .img-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  display: -webkit-inline-box;
}
.center-info .img-container img {
  width: 100%;
  min-height: 100%;
}
.seats-number .btn {
  border: 1px solid;
  border-radius: 50%;
  margin-bottom: 10px;
  padding: 6px 12px;
}
.seats-number {
  width: 150px;
  margin: 0 auto;
}

.center-info a {
  font-family: "Frutiger LT Arabic 45";
  font-weight: bold;
  font-size: 1.25em;
  color: #043d6a;
}

.course-reservation {
  padding: 20px 30px;
}

.course-reservation .price {
  font-size: 18px;
  color: #979797;
  font-weight: bold;
  font-family: "Frutiger LT Arabic 45";
  margin-bottom: 15px;
}

.course-reservation .price .discount-price {
  color: #e13434;
  text-decoration-line: line-through;
  font-size: 16px;
}

.course-reservation .price .number {
  color: #043d6a;
  font-size: 2em;
}

.course-reservation .book-now {
  background-color: #e13434;
  padding: 5px;
  font-size: 15px;
  display: block;
  font-weight: bold;
  color: #fff !important;
  border-radius: 50px;
  font-family: "Frutiger LT Arabic 45";
}

.map-location {
  margin-bottom: 50px;
}

/* cabin-details-carousel */
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 75%;
    margin: 1.75rem auto;
  }
}
.cabin-details-carousel .carousel-inner {
  max-height: 460px;
}

.cabin-details-carousel .carousel-control-next-icon,
.cabin-details-carousel .carousel-control-prev-icon {
  background-image: none;
  background-color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
}

.cabin-details-carousel .carousel-control-next,
.cabin-details-carousel .carousel-control-prev {
  opacity: 1;
}

.cabin-details-carousel .fa-chevron-left,
.cabin-details-carousel .fa-chevron-right {
  font-size: 0.9em;
  font-weight: 600;
  color: #143bab;
}

.cabin-details-carousel .carousel-indicators li {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: rgba(236, 236, 236, 0.24);
}

.cabin-details-carousel .carousel-indicators li.active {
  background-color: #5ec9e2;
}

.cabin-details-modal .close {
  position: absolute;
  top: 0;
  right: -50px;
  background: #fff;
  color: #143bab;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  opacity: 1;
}

.cabin-details-modal .modal-body {
  border-radius: 20px;
  overflow: hidden;
}

.cabin-details-modal .modal-content {
  border-radius: 20px;
}

.cabin-specs {
  background-color: #f3f3f3;
  padding: 10px;
}

.cabin-specs ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.cabin-specs li {
  flex: 0 0 33%;
}

.cabin-specs ul li::before {
  content: "\2022";
  color: #143bab;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  font-size: 1.5em;
}

.cabin-details-icons h2 {
  color: #1d4488;
  font-size: 2.1em;
}

.cabin-details-icons h2 span {
  color: #9b9b9b;
}

.cabin-details-icons h6 {
  color: #333;
  font-size: 0.9em;
}

/* add service */
.add-service .accordion .card {
  background-color: #f3f3f3;
  border: none;
  margin-bottom: 15px;
  color: #4a4a4a;
  border-radius: 0.25rem;
}

.add-service .accordion .card-header {
  background: none;
  border: none;
}

.add-service .accordion .card-header h2 button {
  font-family: "Frutiger LT Arabic 45";
  font-weight: bold;
  font-size: 0.75em;
}

.add-service .fa {
  color: #143bab;
}

.add-service .btn-link {
  color: #4a4a4a;
}

.add-service .btn-link:hover,
.add-service .btn-link:focus {
  text-decoration: none;
}

.equipments .border {
  border-color: #d3d3d3 !important;
}

.equipments img {
  height: 150px;
  width: 150px;
}

.equipments h4,
.equipments .price {
  font-family: "Frutiger LT Arabic 45";
  font-weight: bold;
  font-size: 1em;
  color: #333;
}

.equipments .price {
  color: #3796c1;
}

.services .border {
  border-color: #d3d3d3 !important;
}

.services h4,
.services .price {
  font-family: "Frutiger LT Arabic 45";
  font-weight: bold;
  font-size: 1em;
  color: #333;
}

.services .price {
  color: #3796c1;
}

.service-order .card-header {
  background-color: #f3f3f3 !important;
  border: none;
  font-family: "Frutiger LT Arabic 45";
  font-weight: bold;
  font-size: 1.2em;
  color: #5b5b5b;
  padding: 20px;
}

.service-order .book-now {
  background-color: #e13434;
  padding: 10px;
  font-size: 15px;
  display: block;
  font-weight: bold;
  color: #fff !important;
  border-radius: 50px;
  font-family: "Frutiger LT Arabic 45";
  text-align: center;
}

.total h4 {
  font-family: "Frutiger LT Arabic 45";
  font-weight: bold;
  color: #333;
}

.total .price {
  font-family: "Frutiger LT Arabic 45";
  font-weight: bold;
  color: #1d4488;
  font-size: 1.9em;
}

.total .price span {
  color: #9b9b9b;
}

/* invoice */
.invoice .card-header {
  background: none;
  text-align: right;
  font-family: "Frutiger LT Arabic 45";
  font-weight: bold;
  color: #4a4a4a;
  font-size: 1.35em;
}

.invoice .card-body {
  padding: 20px 0;
  color: #191919;
}

.invoice h5,
.invoice h6,
.invoice .notes {
  font-family: "Frutiger LT Arabic 45";
  font-weight: bold;
}

.invoice .bg-light {
  background-color: #f3f3f3;
}

.invoice h6 {
  font-size: 0.99em;
  color: #333;
}

.invoice .notes {
  font-size: 0.85em;
  color: #333;
}

.invoice .book-now {
  background-color: #e13434;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: bold;
  color: #fff !important;
  border-radius: 50px;
  font-family: "Frutiger LT Arabic 45";
  text-align: center;
}

.invoice a {
  color: #043d6a;
}

.invoice .text-muted {
  color: #666;
}
.invoice .total .price {
  color: #191919;
}

.payment-method .card-body {
  padding: 20px;
}

.payment-method .total .price {
  color: #1d4488;
}

.payment-method .book-now {
  display: block;
}

.payment-method .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #1d4488;
  background-color: #1d4488;
}

/* booking */
.booking .tab-content.border,
.booking .nav-pills.border {
  border-color: #d3d3d3 !important;
}

.booking a.nav-link {
  border-bottom: 1px solid #d5d5d5;
  border-radius: 0;
  color: #9b9b9b;
}

.booking a.nav-link:last-child {
  border-bottom: none;
}

.booking a.nav-link.active {
  background-color: #5ec9e2;
}

.booking .media {
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid #d5d5d5;
}

.booking .media:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.booking .media > img {
  width: 175px;
  height: 145px;
}

.booking .media h5 {
  color: #043d6a;
}

@media (max-width: 768px) {
  .booking .media {
    flex-direction: column;
  }
  .booking .media > img {
    width: 100%;
    margin-bottom: 20px;
  }
}

.booking .media .list-unstyled li {
  font-size: 0.9em;
}

.booking .pagination .page-link {
  border: none;
  background: none;
  color: #9b9b9b;
}

.booking .pagination .page-item a {
  line-height: 30px;
  padding: 8px 20px;
}

.booking .pagination .page-item.active a {
  color: #1d4488;
}

.booking .pagination .page-item.prev a,
.booking .pagination .page-item.next a {
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 30px;
  font-size: 27px;
  color: #143bab;
}

/* booking-details */
.booking-details .card > img {
  height: 145px;
}

.booking-details .card h5 {
  color: #043d6a;
}

.booking-details .card .list-unstyled li {
  font-size: 0.9em;
}

.booking-details .card-details .card-header {
  background: none;
  font-size: 1.5em;
}

.booking-details .card-details h5 {
  color: #191919;
}

.booking-details .card-details .total .price {
  color: #191919;
}

/*  */
.affiliate-program-hero {
  padding: 50px 0;
}

.affiliate-program-hero.bg-overlay:after {
  background: rgba(0, 0, 0, 0.35);
}

.affiliate-program-hero h1 {
  color: #fff;
}

.affiliate-program-hero .btn {
  border-radius: 15px;
  padding: 14px 80px;
  font-size: 1.35em;
  font-family: "Frutiger LT Arabic 45";
}

.affiliate-program h1 {
  font-size: 2.8em;
  color: #1d4488;
}


table.branch-courses *{
  border:none !important;
  vertical-align: middle !important;
}
table.branch-courses  thead tr th {
  font-weight: 410;
  font-family: 'Roboto';
}
table.branch-courses tfoot tr td svg{
  fill: #1d4488;
    font-size: 41px;
    width: 25px;
    height: 25px;
}
table.branch-courses tfoot tr td span{
  font-weight: 400;
  font-family: 'Roboto';
  color: #363131;
  vertical-align: middle !important;

}

table.branch-courses .date {
  font-weight: bold;
}
table.branch-courses .discount-price {
  color: #e13434;
  text-decoration-line: line-through;
  font-size: 16px;
}
.car-info-n .dive-center--item   
{
  margin-bottom: 10px !important;
}

.car-info-n h3
{
  font-family: "montserrat-regular", sans-serif !important;
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  padding-top: 11px;
  font-size: 18px;
    line-height: 1.2;
}

table.branch-courses tbody tr:nth-child(even)
{
  background: #e1e0cdad;
}

table.branch-courses tbody tr td:first-child{
  border-top-left-radius: 8px;
  border-bottom-left-radius:  8px;
}
table.branch-courses tbody tr td:last-child{
  border-top-right-radius: 8px;
  border-bottom-right-radius:  8px;
}


